.background-color{
    background-color: #fffaf0;
}

.link-font1{
    font-size: 1.5rem;
}

.title{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.strong-letter{
    font-weight: bold;
    border-bottom: 2px solid #0059b3;
}

.letter-body{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.margin-letter{
    margin-top: 2%;
}

.letter{
    margin-top: 1%;
    margin-left: 1%;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-start;
}

@media (min-width: 770px){
    .letter-body{
        margin-left: 15%;
        margin-right: 15%;
    }
}

.video {
    position: relative;
    height: 0;
    padding: 30px 0 56.25%;
    overflow: hidden;
}

.margin-top{
    margin-top: 3%;
}
    
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
    max-width: 80%;
    height: auto;
}

